$main-font: "Montserrat";
$bg-main: #ffffff;
$bg-primary: #bfff00;
$bg-secondary: rgba(41, 41, 41, 1);
$bg-dark-grey: #293133;
$bg-light-grey: rgba(80, 80, 80, 0.3);
$bg-light-green: rgba(248, 255, 226, 0.6);
$bg-middle-light-grey: #f2f2f2;
$bg-super-light-grey: #f8f8f8;
$border-color: rgba(248, 255, 226, 0.6);

$font-color-primary: #293133;
$font-color-secondary: rgba(80, 80, 80, 0.6);
$font-color-tertiary: #505050;
$font-color-quaternary: #797979;
$font-color-fifth: #ffffff;
$font-color-sixth: #e32636;
