$main-font: 'Montserrat';
$bg-main: #ffffff;
$bg-primary: #BFFF00;
$bg-dark-grey: #293133;
$bg-light-grey: rgba(80, 80, 80, 0.30);
$bg-middle-light-grey: #F2F2F2;
$bg-super-light-grey: #F8F8F8;
$border-color: rgba(248, 255, 226, 0.60);

$font-color-primary: #293133;
$font-color-secondary: rgba(80, 80, 80, 0.60);
$font-color-tertiary: #505050;
$font-color-quaternary: #797979;
$font-color-fifth: #ffffff;
$font-color-sixth: #E32636;