.cta {
  background-image: url("../assets/img/landing-bcg-1200.webp");
  background-size: 900px 884px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-left: 120px;
  padding-right: 120px;

  &__left-wrapper {
    width: 50%;
    padding-top: 120px;
    padding-bottom: 62px;
  }

  &__header {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__advantage {
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
  }

  &__sign-in {
    width: 368px;
    margin-top: 32px;
  }

  &__additional-info {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    margin-top: 64px;
    margin-bottom: 0;
  }

  &__apps-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 32px;
  }
}

@media (max-width: 1199px) {
  .cta {
    background-image: url("../assets/img/landing-bcg-1199.webp");
    background-size: 559px 774px;
    background-position: right top;

    &__header {
      font-size: 50px;
      line-height: 61px;
    }
  }
}

@media (max-width: 991px) {
  .landing-main {
    width: 60%;
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .landing-main {
    padding-right: 32px;
    padding-left: 32px;

    &__cta {
      margin-top: 92px;
    }

    &__additional-info {
      margin-top: 112px;
    }

    &__apps-wrapper {
      flex-direction: column;
      gap: 15px;
    }
  }
}

@media (max-width: 419px) {
  .landing-main {
    padding-right: 16px;
    padding-left: 16px;
    width: 65%;

    &__cta {
      font-size: 26px;
      line-height: 38px;
      margin-top: 70px;
    }

    &__advantage {
      font-size: 16px;
      line-height: 26px;
    }

    &__coming-soon {
      margin-top: 95px;
    }

    &__additional-info {
      margin-top: 95px;
    }
  }
}
