.cta {
  background-image: var(--bgImage1200);
  background-size: 900px 884px;
  transition: background-image 0.5s;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 120px;

  &__left-wrapper {
    width: 50%;
    padding-top: 120px;
  }

  &__app-img {
    max-width: 100%;
    height: 68px;
  }

  &__header {
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 73px;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__advantage {
    font-weight: 500;
    margin-top: 32px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 28px;
  }

  &__sign-in {
    width: 368px;
    margin-top: 32px;
    background-color: var(--bg-btn);
    color: var(--text-footer);
  }

  &__additional-info {
    font-size: 40px;
    font-weight: 600;
    line-height: 49px;
    margin-top: 64px;
    margin-bottom: 0;
  }

  &__apps-wrapper {
    margin-top: 24px;
    display: flex;
    gap: 32px;
  }
}

@media (max-width: 1199px) {
  .cta {
    background-image: var(--bgImage992);
    background-size: 559px 774px;
    background-position: right top;
    padding: 0 40px;

    &__header {
      font-size: 50px;
      line-height: 61px;
    }
  }
}

@media (max-width: 991px) {
  .cta {
    background-image: var(--bgImage768);
    background-size: 463px 774px;
    background-position: right bottom;
    padding-bottom: 95px;

    &__left-wrapper {
      padding-top: 95px;
    }
  }
}

@media (max-width: 767px) {
  .cta {
    background-image: var(--bgImage767);
    background-size: 375px 673px;
    background-position: right top;
    padding-bottom: 70px;

    &__header {
      font-size: 40px;
      line-height: 49px;
    }

    &__advantage {
      font-size: 14px;
      line-height: 20px;
    }

    &__additional-info {
      font-size: 30px;
      line-height: 37px;
    }

    &__left-wrapper {
      padding-top: 60px;
      width: 60%;
    }
  }
}

@media (max-width: 530px) {
  .cta {
    background-image: var(--bgImage428);
    background-size: 211px 456px;
    background-position: right top;

    &__header {
      font-size: 30px;
      line-height: 37px;
    }

    &__sign-in {
      width: 100%;
    }
  }
}

@media (max-width: 428px) {
  .cta {
    padding-bottom: 0px;
    padding: 0 16px;
    &__left-wrapper {
      padding-top: 50px;
      width: 70%;
    }
  }
}
