.eee {
  display: flex;
  flex-direction: column;
  padding: 0 120px;
  gap: 32px;

  &__header {
    font-size: 60px;
    line-height: 73px;
    font-weight: 600;
    margin: 0;
  }

  &__text {
    width: 923px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
  }

  &__activities {
    display: flex;
    gap: 48px;
  }
}

@media (max-width: 1199px) {
  .eee {
    &__header {
      font-size: 50px;
      line-height: 61px;
    }
  }
}
