.integration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 120px;
  gap: 32px;

  &__header {
    font-size: 60px;
    line-height: 73px;
    font-weight: 600;
    margin: 0;
  }

  &__text {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
  }
  &__images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 32px;
    row-gap: 48px;
    margin-top: 32px;
  }
}

@media (max-width: 1199px) {
  .integration {
    padding: 0 40px;
    &__header {
      font-size: 50px;
      line-height: 61px;
    }
  }
}

@media (max-width: 767px) {
  .integration {
    &__header {
      font-size: 40px;
      line-height: 49px;
    }

    &__images {
      column-gap: 16px;
    }
  }
}

@media (max-width: 530px) {
  .integration {
    &__images {
      grid-template-columns: repeat(2, 1fr);
      row-gap: 16px;
    }

    &__header {
      font-size: 34px;
      line-height: 41px;
    }
  }
}

@media (max-width: 428px) {
  .integration {
    padding: 0 16px;
  }
}
