.landing-header {
  z-index: 15;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-header);
  transition: background-color 0.5s;
  padding: 23px 120px;
  position: relative;

  &__left-side {
    display: flex;
    align-items: center;
  }

  &__right-side {
    position: absolute;
    right: 120px;
    display: flex;
    gap: 64px;
  }

  &__how-it-works,
  &__faqs {
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: $font-color-primary;
    padding: 13px 0;
  }

  &__right-side-wrapper {
    display: flex;
    gap: 32px;
  }

  &__language {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 13px 16px;
    border-radius: 24px;
    border: 1px solid $bg-dark-grey;
    gap: 10px;
    cursor: pointer;
    height: 50px;
    width: 70px;
    transition: height 0.5s;

    &--active {
      height: 80px;
    }
  }

  &__log-in,
  &__sign-up {
    align-self: flex-start;
  }

  &__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
  }

  &__checkbox:not(:disabled):checked + label .landing-header__trigger-container {
    background-color: $bg-main;
  }

  &__checkbox:not(:disabled):checked + label .landing-header__trigger {
    transform: translateX(42px);
  }

  &__trigger-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86px;
    height: 48px;
    background-color: $bg-secondary;
    border-radius: 25px;
    transition: background-color 0.5s;
    position: relative;
  }

  &__trigger {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: $bg-main;
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.06), 0px 3px 8px 0px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
    transform: translateX(3px);
    transition: all 0.5s;
  }

  &__sun {
    margin-left: 8px;
  }

  &__moon {
    margin-right: 8px;
  }

  &__link {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: $font-color-primary;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    user-select: none;
    width: 100%;
    justify-content: space-between;
  }

  &__link-second {
    position: absolute;
    top: 44px;
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.7s;
    &--active {
      visibility: visible;
      opacity: 1;
      width: 37px;
    }
  }

  &__arrow {
    min-height: 6px;
    min-width: 11px;
    transition: all 0.5s;

    &--rotate {
      transform: rotate(180deg);
    }
  }
}

@media (max-width: 1199px) {
  .landing-header {
    &__right-side {
      gap: 60px;
    }
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 991px) {
  .landing-header {
    &__right-side {
      gap: 20px;
      right: 20px;
    }
  }
}

@media (max-width: 767px) {
  .landing-header {
    &__right-side {
    }

    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (max-width: 419px) {
  .landing-header {
    &__right-side {
      right: 16px;
    }

    padding-right: 16px;
    padding-left: 16px;
  }
}
