.landing {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $bg-primary;

  &__container {
    margin: 0 auto;
    font-family: $main-font, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $font-color-primary;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    width: 100%;
    align-content: start;
    position: relative;
    overflow: hidden;
  }
}
