.landing-footer {
  background-color: var(--bg-footer);
  transition: background-color 0.5s;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 64px 120px;

  &__tech-info,
  &__copyright,
  &__y-id {
    margin: 0;
    color: var(--text-footer);
  }

  &__tech-info,
  &__linkedin,
  &__facebook,
  &__email {
    font-weight: 500;
  }

  &__linkedin,
  &__facebook,
  &__email,
  &__policy {
    color: var(--text-footer);
  }

  &__apps-wrapper {
    margin-top: 16px;
    display: flex;
    gap: 32px;
  }

  &__left-wrapper,
  &__right-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__right-wrapper {
    align-items: flex-end;
    margin-top: 44px;
  }
}

@media (max-width: 1199px) {
  .landing-footer {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media (max-width: 991px) {
  .landing-footer {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 767px) {
  .landing-footer {
    padding-right: 32px;
    padding-left: 32px;
  }
}

@media (max-width: 419px) {
  .landing-footer {
    padding-right: 16px;
    padding-left: 16px;
  }
}
