.landing {
  box-sizing: border-box;
  scroll-behavior: smooth;

  &__container {
    margin: 0 auto;
    font-family: $main-font, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: var(--text);
    background-color: var(--bg-main);
    transition: color 0.5s, background-color 0.5s;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    width: 100%;
    align-content: start;
    position: relative;
    overflow: hidden;
  }
}
