.landing {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: $bg-primary;
  background-image: url("../assets/img/landing-bcg-1200.webp");
  background-size: 939px 1756px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;

  &__container {
    margin: 0 auto;
    font-family: $main-font, Arial, sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: $font-color-primary;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
    width: 100%;
    align-content: start;
    position: relative;
    overflow: hidden;
  }
}

@media (max-width: 1199px) {
  .landing {
    background-image: url("../assets/img/landing-bcg-1199.webp");
    background-position: right bottom;
    background-size: 903px 1104px;
  }
}

@media (max-width: 991px) {
  .landing {
    background-image: url("../assets/img/landing-bcg-991.webp");
    background-size: 524px 1104px;
  }
}

@media (max-width: 767px) {
  .landing {
    background-image: url("../assets/img/landing-bcg-767.webp");
    background-position: right top;
    background-size: 387px 854px;
  }
}

@media (max-width: 420px) {
  .landing {
    background-image: url("../assets/img/landing-bcg-420.webp");
    background-size: 207px 518px;
  }
}
