.sign-up-country {
  position: fixed;
  overflow-y: scroll;
  z-index: 15;
  top: 103px;
  right: 0;
  bottom: 0;
  max-width: 460px;
  min-width: 460px;
  background-color: var(--bg-signup);
  display: flex;
  flex-direction: column;
  gap: 24px;
  transform: translateX(100%);
  transition: all 0.5s;
  padding-bottom: 24px;

  &--show {
    transform: translateX(0%);
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 16px;
    border-bottom: 1px solid $bg-middle-light-grey;
  }

  &__header {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
  }

  &__continue {
    margin-right: 16px;
    margin-left: 16px;
    margin-top: auto;
    background-color: var(--bg-btn);
    color: var(--text-footer);
  }

  &__back {
    background-color: $bg-middle-light-grey;
    padding: 0;
  }

  &__crutch {
    width: 40px;
    height: 40px;
    background-color: transparent;
  }

  &__main-content {
    max-width: 460px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__main-header {
    margin: 0;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
  }

  &__label {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    color: var(--text);
  }

  .sign-up-country__checkbox:not(:disabled):checked + label .sign-up-country__trigger {
    background-image: url("../assets/img/radio-on.svg");
  }

  &__trigger {
    width: 16px;
    height: 16px;
  }

  &__trigger--light {
    background-image: url("../assets/img/radio-off-light-theme.svg");
    background-repeat: no-repeat;
  }

  .sign-up-country__checkbox:not(:disabled):checked + label .sign-up-country__trigger--light {
    background-image: url("../assets/img/radio-on-light-theme.svg");
  }

  &__trigger--dark {
    background-image: url("../assets/img/radio-off-dark-theme.svg");
    background-repeat: no-repeat;
  }

  .sign-up-country__checkbox:not(:disabled):checked + label .sign-up-country__trigger--dark {
    background-image: url("../assets/img/radio-on-dark-theme.svg");
  }

  &__select {
    @include list-reset;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__text-small {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding-left: 36px;
    color: $font-color-quaternary;
    cursor: pointer;
    position: relative;
    user-select: none;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: transparent;
      border: 1px solid $bg-light-grey;
    }
  }
  &__input-checkbox:checked + .sign-up-country__text-small::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background-image: url("../assets/img/checkbox-landing.svg");
    background-repeat: no-repeat;
  }

  &__terms-link {
    color: $font-color-tertiary;
    text-decoration: underline;
  }

  &__terms-wrapper {
    display: flex;
    gap: 16px;
  }
}

@media (max-width: 767px) {
  .email-confirmation {
    min-width: 428px;
  }
}

@media (max-width: 428px) {
  .email-confirmation {
    min-width: 100%;
  }
}
